.mainDivStyle {
    height: 720px;
    padding-top: 3%
}

.loginStyle {
    width: 40%;
    height: 600px;
    background-color: #fff;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid gray;
    border-radius: 5px;
}

.LoginBtnStyle {
    width: 60%;
    height: 40px;
    border-radius: 20px;
    font-weight: bold;
    border: 1px solid gray;
    margin: 5px;
    margin-left: 20%;
}