.loginStyle2{
    width: 40%;
    height:600px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 5px;
    padding: 30px;
    border: 1px solid gray;
    border-radius: 5px;
}
.LoginBtnStyle2{
    width: 30%;
    height: 40px;
    border-radius: 20px;
    font-weight: bold;
    border: 1px solid gray ;
    margin: 5px;
    margin-left: 35%;
}

