.navbar-brand img{
    width: 60px;
    height: 100%;
}
.nav-link{
    color: rgb(10, 1, 1);
    margin: 0;
    border-radius: 3px;
    font-size: 25px;
    
}

.login-btn{
    
    border: none;
    padding: 5px;
    background: none;
    font-size: 25px;
    display: block;
}